.center-container {
  display: flex;
  justify-content: center;
}

.user-message {
  display: block;
  text-align: center;
  cursor: pointer;
}

.tris-container {
  display: flex;
  width: 460px;
  height: 460px;
  flex-wrap: wrap;

  /* Hack bellissimo per disegnare la griglia */
  background-color: grey;
  justify-content: space-around;
  align-items: center;
}

.tris-cell {
  width: 150px;
  height: 150px;
  background-color: white;
  font-size: 100px;
  text-align: center;
}
